{% macro build_form_filter_select(cls, name, label, values) %}

	<label>{{ label }}</label>

	<select id="select-{{name}}"
		class="custom-select"
		name="{{name}}"
		autocomplete="off">

	{% if values is not none %}
		{% set curr = cls[name] | string() %}

		{% for v_name, v_val in values %}
			{% set nval = v_val     | string() %}
			<option value="{{ nval }}" {{ "selected" if nval == curr else ""}}>{{ v_name }}</option>
		{% endfor %}

		{#
			elif hx_get is not None:
			val += f"""
			<option hx-get="{{{{ url_for("{hx_get}", **{self.as_js_dict()}) }}}}"></option>
		#}
	{% endif %}
</select>

{% endmacro  %}
