
<div class="row" loopid="0">
	{% for image_title, image_data in images.items() %}
		<div class="col-6" loopid="{{ loop.index0 }}">
			<div name="{{ image_title }}">
				{{ image_data.div    | safe }}
				{{ image_data.script | safe }}
			</div>
		</div>
		{% if loop.index0 != 0 and loop.index0 % 2 == 0 %}
</div>

<div class="row" loopid="{{ loop.index0 }}">
		{% endif %}

	{% endfor %}
</div>



{% if data %}

<div name="map" class="row">
	<div class="col-12">
		<div id="map"></div>
	</div>
</div>

<div name="map-config">
	<style>
		#map {
			/* configure the size of the map */
			width: 100%;
			height: 256px;
			display: inline-block;
			position: relative;
		}
	</style>


	<script>
		var L = window.L;

		// initialize Leaflet
		var map = L.map('map',
			{
				center: [
					{{ location_stats["lon_mid"] }},
					{{ location_stats["lat_mid"] }}
				],
				zoom:   {{ location_stats["zoom"] }},
				boxZoom: true,
				doubleClickZoom: true,
				dragging: true,
				trackResize: true,
				preferCanvas: true
			}
			).setView(
				{
					lon: {{ location_stats["lon_mid"] }},
					lat: {{ location_stats["lat_mid"] }}
				},
				{{ location_stats["zoom"] }}
			);

		// add the OpenStreetMap tiles
		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: {{ location_stats["max_zoom"] }},
			attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
		}).addTo(map);

		// show the scale bar on the lower left corner
		L.control.scale({imperial: false, metric: true}).addTo(map);

		// show a marker on the map
		//L.marker({lon: {{ location_stats["lon_mid"] }}, lat: {{ location_stats["lat_mid"] }}}).bindPopup('The center of the world').addTo(map);

		//https://leafletjs.com/examples/geojson/
		{#
		{% for track_name, (track_points, track_radiuses) in location_stats["tracks"].items() | sort %}
			{% set track_index = loop.index0 %}

			var myLines_{{ track_name }} = [
				{ "type": "LineString","coordinates": {{ track_points | tojson() }} },
				{% for point in track_points %}
				{ "type": "Point",     "coordinates": {{ point | tojson() }} },
				{% endfor %}
			];

			var myStyle_{{ track_name }} = {
				"color"  : "{{ location_stats['colors'][loop.index] }}",
				"weight" : 5,
				"opacity": 0.65
			};

			L.geoJSON(myLines_{{ track_name }}, {
				style: myStyle_{{ track_name }}
			}).addTo(map);
		{% endfor %}
		#}


		{% for track_name, (track_points, track_radiuses) in location_stats["tracks"].items() | sort %}
			{% set track_index = loop.index0 %}

			//var pol_{{ track_name }} = L.polyline({{ track_points | tojson() }}).addTo(map);

			{% for point in track_points %}
				{% set radius = track_radiuses[loop.index0] %}

				var circle_{{ track_name }}_{{ loop.index0 }} = L.circle({{ point | tojson() }}, {
					color:       'red', //'{{ location_stats["colors"][track_index][0] }}',
					fillColor:   '#f03', //'{{ location_stats["colors"][track_index][1] }}',
					fillOpacity: 0.5,
					radius:      200, //{{ radius }},
					//alt:         'alt',
				}).addTo(map);
				//.bindPopup('Kyiv, Ukraine is the birthplace of Leaflet!');
			{% endfor %}
		{% endfor %}
	</script>
</div>





<div class="row">
	{{ paginator(query_filter, target, count_all, count_filter, count_res)  }}

	<div class="col-9" style="max-height:100%;overflow:auto">
		<table class="table table-sm table-hover thead-dark text-nowrap table-bordered">
			<thead>
				<tr>
					<th scope="col" name="id">Id</th>
					{% for p,k,f in data[0].keys() | sort %}
					<th scope="col" name="{{ k }}">{{ k }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for row in data %}
				<tr>
					<th scope="row">{{ query_filter.offset + loop.index }}</th>
					{% for (p,k,f),v in row.items() | sort %}
						<td name="{{ k }}">{{ f(v) }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-3">
		{# https://htmx.org/attributes/hx-params/ #}
		{{ build_form_filter(url_self, url_opts, target, html_filters) }}
	</div>

	{{ paginator(query_filter, target, count_all, count_filter, count_res)  }}
</div>



{% else %}
<div class="row">
	<div class="col-9" style="max-height:100%;overflow:auto">
		No Data
	</div>

	<div class="col-3">
		{# https://htmx.org/attributes/hx-params/ #}
		{{ build_form_filter(url_self, url_opts, target, html_filters) }}
	</div>
</div>
{% endif %}
