{% from "partials/form_filter.html" import build_form_filter with context %}

{% block content %}

<p class="lead">Meshtastic Logger - {{ title }} ({{ data | length }})</p>

<div class="row">
	<div class="col-4">
{#
		https://htmx.org/attributes/hx-params/
#}

		{{ build_form_filter(url_self, url_opts, target, html_filters) }}

		<hr/>

		<table class="table table-sm table-hover thead-dark text-nowrap table-bordered">
			<thead>
				<tr>
					<th scope="col" name="id">Id</th>
					{% for p,k,f in data[0].keys() | sort %}
					<th scope="col" name="{{ k }}">{{ k }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for row in data %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					{% for (p,k,f),v in row.items() | sort %}
						<td name="{{ k }}">{{ f(v) }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<hr/>

		<div>
		{% for image_title, image_data in images.items() %}
			<div name="{{ image_title }}">
			<label>{{ image_title }}</label>
			{{ image_data.div    | safe }}
			{{ image_data.script | safe }}
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
