{% from "partials/form_filter.html" import build_form_filter with context %}

{% block content %}

<h2>Node Info</h2>

<small>
Database Size {{ count_all | format_integer }}
Result Size {{ count_filter | format_integer }}
Return Limit {{count | format_integer }}
Return Size {{ data | length | format_integer }}
</small>

<div class="row" loopid="0">
	{% for image_title, image_data in images.items() %}
		<div class="col-6" loopid="{{ loop.index0 }}">
			<div name="{{ image_title }}">
				{{ image_data.div    | safe }}
				{{ image_data.script | safe }}
			</div>
		</div>
		{% if loop.index0 != 0 and loop.index0 % 2 == 0 %}
</div>
<div class="row" loopid="{{ loop.index }}">
		{% endif %}

	{% endfor %}
</div>

<div class="row">
	<div class="col-9" style="max-height:100%;overflow:auto">
		<table class="table table-sm table-hover thead-dark text-nowrap table-bordered">
			<thead>
				<tr>
					<th scope="col" name="id">Id</th>
					{% for p,k,f in data[0].keys() | sort %}
					<th scope="col" name="{{ k }}">{{ k }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for row in data %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					{% for (p,k,f),v in row.items() | sort %}
						<td name="{{ k }}">{{ f(v) }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-3">
		{# https://htmx.org/attributes/hx-params/ #}
		{% set target="#container" %}
		{{ build_form_filter(url_self, url_opts, target, html_filters) }}
	</div>

</div>

{% endblock %}
